
src/Lesson1/.vs/Lesson1/v15/.suo
src/Lesson1/.vs/Lesson1/v15/Browse.VC.db
src/Lesson1/.vs/Lesson1/v15/Browse.VC.opendb
src/Lesson1/.vs/Lesson1/v15/ipch/AutoPCH/17c8334665c767a2/MAIN.ipch
src/Lesson1/.vs/Lesson1/v15/ipch/AutoPCH/8d3a2f4168b782b7/HELPERS.ipch
